name: Run Tests

on:
  push:
    - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "16.x"

      - uses: bahmutov/npm-install@v1

      - run: npm run build-storybook
      - run: npm run test:ci
